<div class="title-header">
    <span class="events">{{label}}</span><span class="events-time">{{time}}</span>
</div>
{{#each events as |event| }}
    <div class="live-event">
        <div class="box-off" >
            <a class="event-link" style="display:block" href="/t/operational-excellence-developing-dcu-campuses-for-the-future/25/1">
                <div class="event-content">
                    <span>
                        <div class="event-category"></div>
                    </span>
                    <div class="event-title">
                        <span>{{event.title}}</span>
                    </div>
                    <span>
                        <div class="arrow-right"></div>
                    </span>
                </div>
            </a>
        </div>
    </div>
{{/each}}
