{{#if renderPage}}
<div class="heading-top">
    {{#if image}}
    <div class="landing-image">
        {{{image}}}
    </div>
    {{/if}}
    {{#if video}}
    <div class="intro-video">
        <iframe width="100%" height="100%" src="{{video}}" frameborder="0" allowfullscreen></iframe>
    </div>
    {{/if}}
    <div class="event-wrapper">

        <div class="live-events-wrapper">
            {{event-list events=live-topics time=time-now label="Now on"}}
            <a class="widget-button btn-primary btn-large fusebutton" aria-label="Join other conversations" 
            title="Join other conversations" href="/latest">Join other conversations</a>
        </div>

        <div class="next-events-wrapper">
            {{event-list events=next-topics time=time-next label="Next"}}
            <a class="widget-button btn-primary btn-large fusebutton" aria-label="View the full schedule of events" 
            title="View the full schedule of events" target="_blank" href="/uploads/default/original/1X/2ae94625636f919a96fec9496d76406d44593d40.pdf">View the full schedule of events</a>
        </div>

        <div class="right-hand-wrapper-4">
            <a class="twitter-timeline" href="https://twitter.com/DublinCityUni"
            data-height="500">Tweets by DublinCityUni</a>
            <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
        </div>

    </div>
</div>
{{/if}}
