{{#if renderPage}}
<div class="heading-top">
    <div class="intro-video">
        <iframe width="100%" height="100%" src="https://www.youtube.com/embed/wXNMubPYw70?ecver=1" frameborder="0" allowfullscreen></iframe>
    </div>
    <div class="event-wrapper">

        <div class="live-events-wrapper">
            {{event-list events=live-topics time=time-now label="Now on"}}
        </div>

        <div class="next-events-wrapper">
            {{event-list events=next-topics time=time-next label="Next"}}
        </div>

        <div class="right-hand-wrapper-4">
            <a class="twitter-timeline" href="https://twitter.com/DublinCityUni"
            data-height="500">Tweets by DublinCityUni</a>
            <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
        </div>

    </div>
</div>
{{/if}}
