.heading-top {
    padding-top: 80px;
}

.title-header {
    padding: 20px 0px;
}

.intro-video {
    margin: 0px auto;
    max-width: 1110px;
    padding : 5px 0px;
    /*width: 50%;*/
    height: 250px;
}

.event-wrapper {
    margin: auto;
    height: 400px;
    max-width: 1110px;
    padding-top: 14px;
}

.live-events-wrapper {
    float: left;
    width: 40%;
    height: 100%;
}

.next-events-wrapper {
    display: inline-block;
    width: 33%;
    height: 100%;
}

.right-hand-wrapper-4 {
    width: 26%;
    height: 100%;
    float: right;
}

.live-event {
    width: 100%;
    // margin-top: 10px;
    margin-bottom: 10px;
}

.box-off {
    padding: 0px 10px 0px 10px
}

.event-link {
    border-top-color: rgba(15, 70, 100, 0.12);
    border-top-style: solid;
    border-top-width: 1px;
    min-height: 100px;
}

.event-link:hover {
    background-color: rgba(160,200,220,.12);
}

.event-content {
    padding: 10px 5px 10px 10px;
    /*color: black;
    /*top: 40%;
    position: relative;
    transform: translateY(-50%);*/
}

.events {
    position: relative;
    padding: 3px 5px;
    background-color: #ed3d96;
    color: #FFFFFF;
    display: inline-block;
    line-height: 1.25em;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 21px;
    &::before {
        content: ' ';
        position: absolute;
        width: 0;
        height: 0;
        left: 0px;
        bottom: -10px;
        border: 5px solid;
        border-color: #ed3d96 transparent transparent #ed3d96;
    }
}

.events-time {
    margin-right: 20px;
    float: right;
    line-height: 30px;
}

.event-title {
    width: 76%;
    float:left;
    line-height: 20px;
    padding-left: 4px;
    font-size: 13px;
    font-weight: 400;
    word-wrap: break-word;
}

.event-category {
    width: 30px;
    height: 30px;
    background-color: black;
    float: left;
    margin: 5px 10px 5px auto;
}

.event-arrow {
    width: 30px;
    height: 30px;
    background-color: black;
    margin: 5px 5px 5px auto;
    transform: rotate(45deg);
}

.arrow-right {
  width: 0;
  height: 0;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
  border-left: 15px solid black;
  margin: 5px 5px 5px auto;
}

.full-height {
    height: 100%;
}

div > iframe {
    max-height: 100%;
}
