.heading-top {
    padding-top: 80px;
    margin-left: 20px;
    font-size: 150%;
    color:red;
}

.live-event {
    font-size: 80%;
    margin-top: 8px;
    margin-right: 30px;
    padding: 15px;
    color: black;
}

.adapt-title {
    font-weight: bold;
    font-size: 110%;
    color: red;
}

.adapt {
    color: black;
    padding-top: 15px;
    padding-right: 20px;
}
