.heading-top {
    padding-top: 80px;
}

.intro-video {
    margin: 0px auto;
    max-width: 1110px;
    padding : 5px 0px;
    /*width: 50%;*/
    height: 250px;
}

.event-wrapper {
    margin: auto;
    height: 400px;
    max-width: 1110px;
    padding-top: 14px;
}


.live-events-wrapper {
    float: left;
    width: 33%;
    height: 100%;
    border-width: 0px 1px 0px 1px;
    border-style: solid;
}

.live-event {
    width: 100%;
    height: 22%;
    margin-top: 10px;
    margin-bottom: 10px;
}

.event-content {
    padding: 10px 5px 10px 10px;
    /*color: black;
    /*top: 40%;
    position: relative;
    transform: translateY(-50%);*/
}

.current-events {
    margin-left: 45px;
    color: red;
}

.events-time {
    margin-right: 10px;
    float: right;
}

.event-title {
    width: 80%;
    float:left;
}

.event-category {
    width: 30px;
    height: 30px;
    background-color: black;
    float: left;
    margin: 5px 10px 5px auto;
}

.event-arrow {
    width: 30px;
    height: 30px;
    background-color: black;
    margin: 5px 5px 5px auto;
    transform: rotate(45deg);
}

.arrow-right {
  width: 0;
  height: 0;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
  border-left: 15px solid black;
  margin: 5px 5px 5px auto;
}
